# requirements.txt
# Installation : pip install -r requirements.txt

# --- Framework principal (version stable 5.x) ---
Django>=5.0,<6.0

# --- Connexion à PostgreSQL ---
psycopg2-binary==2.9.9

# --- Gestion des variables d'environnement (.env) ---
python-decouple==3.8

# --- Formulaires & UI Bootstrap 5 ---
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# --- Traitement des fichiers / images (Uploads CV) ---
Pillow==10.4.0